*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-display: swap;
}

:root {
  --text-color: #fff;
  --primary-background: #0a0a23;
  --card-background: #2a2a40;
  --link-background: #3b3b4f;
  --link-text-color: #d0d0d5;
  --accent-color: #acd157;
  --attribution-color: hsl(228, 45%, 44%);
  --gray10: #dfdfe2;
}

body {
  background-color: var(--primary-background);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

.social-links-container {
  background-color: var(--card-background);
  max-width: 20rem;
  width: 100%;
  padding: 1.5rem;
  border-radius: 12px;
}

.avatar {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.personal-details {
  margin: 1.5rem 0 0.5rem;
  line-height: 1.4;
}

.personal-details h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-block-end: 0.25rem;
}

.personal-details p {
  color: var(--accent-color);
  font-weight: 600;
  font-size: 0.875rem;
}

.role {
  font-size: 0.875rem;
  font-weight: 400;
  margin-block-end: 1.5rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.links .link {
  background-color: var(--link-background);
  border-radius: 8px;
  list-style: none;
}

.links a {
  text-decoration: none;
  color: var(--link-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 700;
  padding: 0.75rem 0;
  transition: backgrond-color 0.3s ease, color 0.3s ease;
}

.links a:hover,
.links a:focus {
  color: var(--card-background);
  background-color: var(--accent-color);
}

.attribution {
  font-size: 0.875rem;
  text-align: center;
  position: absolute;
  bottom: 2rem;
}

.attribution a {
  text-decoration: none;
  color: var(--attribution-color);
}

@media (min-width: 48rem) {
  .social-links-container {
    max-width: 23.75rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .links a {
    transition: none;
  }
}
